---
title: NERD ALERT
layout: page.liquid
---

<div class="about-info">
  <section>
    <img src="/img/nerd.JPG" alt="Me looking like a nerd">
    <p>I mean, I'm into software... So yeah, I'm a nerd (I don't usually dress like this though).</p>
  </section>
  
  <section>
    <img src="" alt="The Poston Family">
    <p>Very proud #girlDad, and husband to my high school sweet heart. We actually were boyfriend/girlfriend in the 5th grade. 🤯</p>
  </section>
  
  <section>
    <img src="/img/pastor.JPG" alt="Me behind a pulpit at a church.">
    <p>I'm also really involved in my church. I love teaching people about the Bible. I've been the Assistant Pastor at my church for almost a decade.</p>
  </section>
  
  <section>
    <img src="/img/ru.jpg" alt="Me speaking at Radford University">
    <p>Not usually about the Bible, but I usually try to speak to Radford University and Virginia Tech once a semester. It is still crazy to me to be standing on the other side of the podium. Never thought I'd be one to do that as a student.</p>
  </section>
  
  <section>
    <img src="/img/redsox.JPG" alt="My teeball team">
    <p>My teeball team, the Auburn Red Sox. My daughters like when I coach, so over the years I've been a soccer, basketball and teeball caoch.</p>
  </section>
  
  <section>
    <img src="/img/KEV_RU.jpg" alt="Talking to students">
    <p>I've had a lot of great mentors in my life, so I try to make sure to return that favor to anyone willing to listen to me! I've tutored quite a few students over the years.</p>
  </section>
  
  <section>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/VOWPz0ucaOU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>Huge fan of Southwest Virginia and the New River Valley. I was honored to be asked to be part of this video. Could have done without the makeup though...</p>
  </section>
</div>