---
title: BOOKSHELF
layout: page.liquid
componentCss: books.css
---

<div class="book-grid">
  <div>
    <p>Favorites</p>
  </div>
  {% for book in books | favoriteBooks -%}
  <div>
    <img src="{{ book.imageUrl }}" alt="{{book.title}} book cover">
  </div>
  {% endfor -%}
</div>

<div class="alternative">
  <div class="book-grid">
    <div>
      <p>Currently Reading</p>
    </div>
    {% for book in books | currentlyReading -%}
    <div>
      <img src="{{ book.imageUrl }}" alt="{{book.title}} book cover">
    </div>
    {% endfor -%}
  </div>

  {% for yearBooks in books | groupedYears -%}
    <div class="book-grid">
      <div>
        <p>{{yearBooks.year}}</p>
      </div>
      {% for book in yearBooks.books -%}
      <div>
        <img src="{{ book.imageUrl }}" alt="{{book.title}} book cover">
      </div>
      {% endfor -%}
    </div>
  {% endfor -%}

</div>

{# {% for book in books %} #}
{# <ul class="books">
    {% for book in books|sort(attribute='year')|reverse -%}
    <li class="book">
      <img src="{{ book.imageUrl }}" alt="{{ book.title }}"/>
      <div>
        <h2>{{ book.title }}</h2>
        <p>{{ book.subTitle }}</p>
        <p>{{ book.author }}</p>
      </div>
    </li>
    {% endfor -%}
</ul> #}
{# {% endfor %} #}

{# {% for year, books in books|sort(attribute='year')|reverse|groupby("year") %}
<h2>{{ year }}</h2>
<ul class="books">
    {% for book in books -%}
    <li class="book">
      <img src="{{ book.imageUrl }}" alt="{{ book.title }}"/>
      <div>
        <h2>{{ book.title }}</h2>
        <p>{{ book.subTitle }}</p>
        <p>{{ book.author }}</p>
      </div>
    </li>
    {% endfor -%}
</ul>
{% endfor %} #}
