---
title: Bookshelf
layout: page.liquid
---

<style>
.books {
    font-size: 0.875em;
    margin-bottom: calc(1em + 2vw);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr;
}

.book {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 1em;
}

.book img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.book p {
  padding: 0;
  margin: 10px 0;
}

@media (min-width: 33em) {
  .books{
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  }

  .book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .book h2 {
    font-size: 1.2rem;
  }

  .book img {
    height: 270px;
  }
}
</style>

{# {% for book in books %} #}
<ul class="books">
    {% for book in books|sort(attribute='year')|reverse -%}
    <li class="book">
      <img src="{{ book.imageUrl }}" alt="{{ book.title }}"/>
      <div>
        <h2>{{ book.title }}</h2>
        <p>{{ book.subTitle }}</p>
        <p>{{ book.author }}</p>
      </div>
    </li>
    {% endfor -%}
</ul>
{# {% endfor %} #}

{# {% for year, books in books|sort(attribute='year')|reverse|groupby("year") %}
<h2>{{ year }}</h2>
<ul class="books">
    {% for book in books -%}
    <li class="book">
      <img src="{{ book.imageUrl }}" alt="{{ book.title }}"/>
      <div>
        <h2>{{ book.title }}</h2>
        <p>{{ book.subTitle }}</p>
        <p>{{ book.author }}</p>
      </div>
    </li>
    {% endfor -%}
</ul>
{% endfor %} #}
