---
layout: layout.njk
---
<div class="home-grid">
  <section id="intro">
    <img class="intro-pic" src="/img/kevpo.png" alt="Kevin Poston">
    <p class="intro-text">I'm Kevin Poston, software engineer at <a href="https://www.qualtrax.com">Qualtrax</a>, beginner 🪕 player and organizer of <a href="https://nrv.dev">NRV DEV</a>.</p>
  </section>
</div>