---
layout: layout.njk
title: 🪕🪕🪕
---
<div class="home-grid">
  <section id="intro">
    <img class="intro-pic" src="/img/kevpo2.png" alt="Kevin Poston">
    <p class="intro-text">I'm Kevin Poston, software engineer at <a href="https://www.qualtrax.com">Qualtrax</a>, beginner 🪕 player and organizer of <a href="https://nrv.dev">NRV DEV</a>.</p>
  </section>
  {# <section id="posts">
    <header>
      <h3>Latest Posts</h3>
    </header>
    <ul class="post-list">
      {% for post in collections.posts | reverse %}
        <li>
          <a href="{{ post.url | url }}" class="postlist-link">
            <h2>{{ post.data.title }}</h2>
            <p class="meta">{{ post.data.date | readableDate }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section id="reading">
    <header>
      <h3>Reading Now</h3>
    </header>
    <ul class="reading-grid">
      {% for book in books -%}
         {%- if book.inProgress -%}
          <li>
            <img src="{{book.imageUrl}}" alt="{{book.title}}"/>
          </li>
          {% endif %}
    {% endfor -%}
    </ul>
  </section> #}
</div>