---
layout: layout.njk
title: 🪕kevpo🪕
---
<div class="main-cover">
  <div class="container">
    <div class="header">
      <a href="/" class="main-nav">KEVPO</a>
    </div>
    <div>
      <div class="left resume">
        <a class="nav-link" href="/">LIBRARY, PUBLIC SAFETY, COMPLIANCE AND FED SOFTWARE, OH MY! <br> <i>(THE RESUME)</i></a>
      </div>
    </div>
    <div>
      <div class="right reading">
        <a class="nav-link" href="/">READING IS TO THE MIND, WHAT EXERCISE IS TO THE BODY</a>
      </div>
    </div>
    <div class="about-container">
      <div class="left about">
        <a class="nav-link" href="/">MORE THAN JUST A NERD</a>
      </div>
    </div>
    <div>
      <div class="right contact">
        <a class="nav-link" href="/">GIVE ME A HOLLER SOMETIME<br> <i>(I'm from the south)</i></a>
      </div>
    </div>
    <div class="headline">
      <h1>Kevin Poston</h1>
      <button onclick="changeColors()">🎅</button>
    </div>
  </div>
</div>
<div class="disclaimer">
    <p>This site is pretty much just a playground for me, but I'm glad you stopped by!</p>
</div>

<script>
  let root = document.documentElement;
  let christmas = false;

  function changeColors() {
    christmas = !christmas;

    if (christmas) {
      root.style.setProperty('--mainColor', "#EA4630");
      root.style.setProperty('--secondaryColor', "#146B3A");
      root.style.setProperty('--thirdaryColor', "#ffffff");
    }
    else {
      root.style.setProperty('--mainColor', "#FFF300");
      root.style.setProperty('--secondaryColor', "#1400FD");
      root.style.setProperty('--thirdaryColor', "#000000");
    }
  }
</script>