<!--
                                                                                             
                                                                                             
kkkkkkkk                                                 PPPPPPPPPPPPPPPPP                   
k::::::k                                                 P::::::::::::::::P                  
k::::::k                                                 P::::::PPPPPP:::::P                 
k::::::k                                                 PP:::::P     P:::::P                
 k:::::k    kkkkkkk eeeeeeeeeeee  vvvvvvv           vvvvvvvP::::P     P:::::P  ooooooooooo   
 k:::::k   k:::::kee::::::::::::ee v:::::v         v:::::v P::::P     P:::::Poo:::::::::::oo 
 k:::::k  k:::::ke::::::eeeee:::::eev:::::v       v:::::v  P::::PPPPPP:::::Po:::::::::::::::o
 k:::::k k:::::ke::::::e     e:::::e v:::::v     v:::::v   P:::::::::::::PP o:::::ooooo:::::o
 k::::::k:::::k e:::::::eeeee::::::e  v:::::v   v:::::v    P::::PPPPPPPPP   o::::o     o::::o
 k:::::::::::k  e:::::::::::::::::e    v:::::v v:::::v     P::::P           o::::o     o::::o
 k:::::::::::k  e::::::eeeeeeeeeee      v:::::v:::::v      P::::P           o::::o     o::::o
 k::::::k:::::k e:::::::e                v:::::::::v       P::::P           o::::o     o::::o
k::::::k k:::::ke::::::::e                v:::::::v      PP::::::PP         o:::::ooooo:::::o
k::::::k  k:::::ke::::::::eeeeeeee         v:::::v       P::::::::P         o:::::::::::::::o
k::::::k   k:::::kee:::::::::::::e          v:::v        P::::::::P          oo:::::::::::oo 
kkkkkkkk    kkkkkkk eeeeeeeeeeeeee           vvv         PPPPPPPPPP            ooooooooooo   
                                                                                             
                                                                                             
                                                                                             
                                                                                             
                                                                                             
                                                                                             
-->                                                                                        

<!doctype html>
<html lang="en">
<head>
  <meta chaset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kevpo | {{title}}</title>
  {%- set css -%}
    {% include "css/index.css" %}
    {% include "css/nav.css" %}
    {% include "css/cover.css" %}
    {% include "css/grid.css" %}
    {% include "css/books.css" %}
  {%- endset %}
  <style>
    {{ css | safe }}
  </style>
</head>
<body>
  <div class="content">
    <main>
      {{content | safe}}
    </main>
  </div>

  <script>
  let root = document.documentElement;

  function loadTheme() {
    const theme = sessionStorage.getItem('theme');

    if (theme === "christmas") {
      root.style.setProperty('--mainColor', "#EA4630");
      root.style.setProperty('--secondaryColor', "#146B3A");
      root.style.setProperty('--thirdaryColor', "#ffffff");
    }
    else {
      root.style.setProperty('--mainColor', "#0085ca");
      root.style.setProperty('--secondaryColor', "#000000");
      root.style.setProperty('--thirdaryColor', "#ffffff");
    }
  }

  window.onpaint = loadTheme();
  </script>
</body>
</html>