.book-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
  width: 100%;
}

.book-grid div:first-child {
  grid-column: 1 / -1;
}