.book-grid img {
  width: 100%;
  height: 300px;
  border: 5px solid var(--mainColor);
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
  width: 100%;
}

.book-grid div:first-child {
  grid-column: 1 / -1;
}

@media (min-width: 1140px) {
  .book-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1140px) {
  .book-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 2000px) {
  .book-grid {
    width: 50%;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
  }
}