.main-cover{
  background: url(img/kevpo.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 400px;
}

.disclaimer {
  background-color: var(--thirdaryColor);
  color: var(--mainColor);
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  padding: 0 1em;
  font-weight: bold;
}

.header {
  height: 50px;
  margin-top: -2em;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
}

.headline{
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
}

.resume {
  width: 95%;
  margin-right: auto;
}

.reading,
.contact { 
  width: 68%;
  margin-left: auto;
}

.about {
  width: 55%;
  margin-right: auto;
  line-height: 1.5em;
}

.about a.nav-link {
  font-size: 1.5em;
  width: 70%;
}

.about a,
.reading a{
  color: var(--secondaryColor);
}

.about a:hover,
.reading a:hover{
  color: var(--thirdaryColor);
}

.contact a,
.resume a {
  color: var(--thirdaryColor);
}

.contact a:hover,
.resume a:hover {
  color: var(--secondaryColor);
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

a.nav-link{
  text-decoration: none;
  font-weight: 800;
  font-size: 1.25em;
  line-height: 0;
}

i {
  font-weight: 200;
  font-size: .75em;
}

.headline h1{
  font-size: 3.5em;
  margin: 0;
}

.headline p {
  color: var(--mainColor);
  width: 78%;
  margin: 0 auto;
}

.headline {
  font-size: 1em;
}

@media (min-width: 414px) {
  .main-cover {
    background-size: 475px;
  }
}

@media (max-height: 650px) and (min-width: 414px) {
  .main-cover {
    background-size: 400px;
  }

  .header {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .main-cover {
    background-size: 700px;
  }
}

@media (min-width: 1140px) {
  .main-cover {
    background-size: 550px;
  }

  .header {
    height: 200px;
  }

  .container {
    margin: 0 auto;
    max-width: 70%;
    grid-gap: 5px;
    padding: 0 2em;
  }

  .reading,
  .contact {
    width: 55%;
    margin-right: 75px;
  }

  .about-container {
    justify-self: center;
  }

  .headline h1 {
    font-size: 3em;
    margin: 0 0 0 0;
  }

  .headline p {
    width: 60%;
  }
}