@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

:root {
  --mainColor: #0085ca;
  --secondaryColor: #000000;
  --thirdaryColor: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p { 
  margin: 0;
}

h1 {
  color: var(--thirdaryColor);
}

.alternative {
  background-color: var(--secondaryColor);
  color: var(--thirdaryColor);
}

@media (min-width: 50em) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 65em) {
  body {
    /* padding: 0 5rem; */
  }
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

@media (min-width: 1428) {
  body {
    font-size: 30px;
  }
}