@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

:root {
  --mainColor: #FFF300;
  --secondaryColor: #1400FD;
  --thirdaryColor: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p { 
  margin: 0;
}

/* a {
  color: white;
  text-decoration-color: #24292e;
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;
} */

.intro-pic {
  margin: 0 auto;
  width: 450px;
  max-width: 100%;
  /* -webkit-filter: brightness(1.25) contrast(0.85) grayscale(1);
  filter: brightness(1.25) contrast(0.85) grayscale(1); */
}

@media (min-width: 50em) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 65em) {
  body {
    padding: .5rem 5rem;
  }
}