nav {
  margin-top: -1.5em;
  padding: 0 1.5em;
  text-align: center;
  width: 100%;
}

a.main-nav {
  color: var(--secondaryColor);
  font-size: 7em;
  font-weight: 800;
  text-decoration: none;
}

.edition-info {
  color: var(--thirdaryColor);
  display: flex;
  font-size: .75em;
  justify-content: space-between;
  margin-top: -1em;
  width: 100%;
}